<html>
	<title></title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div id="mySidenav" class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="mainbar">
            <span onclick="openNav()"><img class="nav-button" src="{% static 'bar.jpg'%}"></span>
            <br>
            <div class="mainbar-content text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col form-group">
                            <form action="save_schedule/" method="POST">
                                {% csrf_token %}

                                {{ schedule }}
                                <br>
                                <button class="btn btn-primary" type="submit"><p class="head-2">Save</p></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% include "footer.html" %}
            </div>    
        </div>
    </body>     
</html>
