 <html>
	<title></title>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div id="mySidenav" class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="mainbar">
            <div class="mainbar-content">
            <span onclick="openNav()"><img class="nav-button" src="{% static 'bar.jpg'%}"></span>
                <p class="head-1">Contacts</p>
                <p class="head-2">Email : nadhif.ap@ui.ac.id<br>
                    Phone : +6281298595582
                </p>
                <p class="head-2">twitter : @eaglezs<br>
                    facebook : Nadhif Adyatma Prayoga
                </p>
                <p class="head-2">github : EaglesCommander<br>
                    youtube : EaglesCommander
                </p>
                <p class="head-2">linkedin : Nadhif Adyatma Prayoga
                </p>
            </div>
        </div>
    </body>     
</html>
