
<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
    </head>
    <body>
        <div class="container-fluid" id="footer-buttons">
            <div class="row">
                <div class="col"><a class="icons" href="https://www.linkedin.com/in/nadhif-prayoga-59770b165/" target="_blank"><img class="icons" src="{% static 'linkedin.png'%}"></a></div>
                <div class="col"><a class="icons" href="mailto:nadhif.adyatma@ui.ac.id"><img class="icons" src="{% static 'gmail.png'%}"></a></div>
                <div class="col"><a class="icons" href="https://github.com/eaglescommander" target="_blank"><img class="icons" src="{% static 'github.png'%}"></a></div>
                <div class="col"><a class="icons" href="https://www.youtube.com/user/EaglesCommander/" target="_blank"><img class="icons" src="{% static 'youtube.png'%}"></a></div>
            </div>
        </div>
    </body>
</html>            