<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap -->
     {% load staticfiles %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	<center>
	
	</center>
	</head>
    <body>
    <div class="mainbar-home">
    <div class="mainbar-content text-center">
        <img class="profile" src="{% static 'nadhif.jpg'%}"><br>
	    <p class="head-1">Nadhif Adyatma Prayoga</p>
	    <p class="head-2">Programmer - Student -  <a href="{% url 'secret' %}">Translator</a></p>
        <div class="container-fluid" id="mainpage-buttons">
            <div class="row">
                <div class="col"><a class="btn btn-primary" href="{% url 'about'%}" role="button"><p class="head-2">Profile</p></a></div>
                <div class="col"><a class="btn btn-primary" href="{% url 'projects'%}" role="button"><p class="head-2">Projects</p></a></div>
                <div class="col"><a class="btn btn-primary" href="{% url 'contacts'%}" role="button"><p class="head-2">Contacts</p></a></div>
                <div class="col"><a class="btn btn-primary" href="{% url 'activity_form'%}" role="button"><p class="head-2">Add Activity</p></a></div>
                <div class="col"><a class="btn btn-primary" href="{% url 'see_activity'%}" role="button"><p class="head-2">See Activities</p></a></div>
            </div>
            <br>
        </div>
    </div>
    <div class="footer text-center">
        {% include "footer.html" %}
        <br>
        <p class="head-2">Latest news</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/luvq4PR3Nyg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
</body>     
</html>
