 <html>
	<title></title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div id="mySidenav" class="sidebar">
            {% include "sidebar.html" %}
        </div>

        <div class="mainbar">
            <div class="mainbar-content">
            <span onclick="openNav()"><img class="nav-button" src="{% static 'bar.jpg'%}"></span>
                <p class="head-1">List of Projects</p>
                <ul class="head-2">Finished
                    <li>MangaReaDex (Deprecated)</li>
                    <li>Excel Portable Database</li>
                </ul>
                <ul class="head-2">Ongoing
                    <li>Virus F</li>
                    <li>MangaReaDex Kai</li>
                    <li>AlarmKlock</li>
                </ul>
            </div>
        </div>
    </body>     
</html>
