<html>
	<title></title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div>
            <div class="mainbar-content text-center">
            <p class="head-1">You've found the secret page!</p>
            <p class="head-2">I actually do japanese doujinshi/comic pages and need typesetters!</p>
            <img class="typeset" src="{% static 'typeset.png' %}">
            <p class="head-2">If you feel like the right man for the job, please contact:</p>
            <p class="head-1">Discord Eagles#4767</p>
            <p class="head-2">Paid position - Serious inquiries only</p>
            <a class="btn btn-primary" href="{% url 'index'%}" role="button"><p class="h2">Back</p></a>
            <br>
            <br>
            {% include "footer.html" %}
            </div>    
        </div>
    </body>     
</html>
