<html>
	<title></title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div id="mySidenav" class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="mainbar">
            <span onclick="openNav()"><img class="nav-button" src="{% static 'bar.jpg'%}"></span>
            <br>
            <div class="mainbar-content text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><p>Date</p></div>
                        <div class="col"><p>Time</p></div>
                        <div class="col"><p>Activity</p></div>
                        <div class="col"><p>Place</p></div>
                        <div class="col"><p>Category</p></div>
                        <div class="col"><p>Deletion</p></div>
                    </div>

                    {% for item in schedule %}
                    <div class="row">
                        <div class="col"><p>{{ item.date }}</p></div>
                        <div class="col"><p>{{ item.time }}</p></div>
                        <div class="col"><p>{{ item.activity }}</p></div>
                        <div class="col"><p>{{ item.location }}</p></div>
                        <div class="col"><p>{{ item.category }}</p></div>
                        <div class="col"><a class="btn btn-primary" href="{% url 'clear_schedule' item.id%}" role="button"><p class="head-2">Delete</p></a></div>

                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
                {% include "footer.html" %}
            </div>    
        </div>
    </body>     
</html>
