<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
    </head>
    <body>
            <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
            }
            /* Close/hide the sidenav */
            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
            </script>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <center>
                <a href="{% url 'index'%}"><p class="h2">NAP</p></a>
                <a class="btn btn-primary" href="{% url 'about'%}" role="button"><p class="head-2">Profile</p></a>&nbsp&nbsp&nbsp
                <a class="btn btn-primary" href="{% url 'projects'%}" role="button"><p class="head-2">Projects</p></a>&nbsp&nbsp&nbsp
                <a class="btn btn-primary" href="{% url 'contacts'%}" role="button"><p class="head-2">Contacts</p></a>&nbsp&nbsp&nbsp
                <br>
                <br>
                <a class="btn btn-primary" href="{% url 'activity_form'%}" role="button"><p class="head-2">Add Activity</p></a>&nbsp&nbsp&nbsp
                <a class="btn btn-primary" href="{% url 'see_activity'%}" role="button"><p class="head-2">See Activities</p></a>&nbsp&nbsp&nbsp
            
            <br>
            <br>
            <img class="img" src="{% static 'nico.gif'%}"
            </center>
            <br>
            <br>    
            <div class="footer text-center">
            {% include "footer.html" %}
            </div>
    </body>
</html>